{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <h1 class="text-center"><strong>Ajouter/modifier un produit<strong></h1></br>

    <div class="text-center">
        {{form_start(form,{'method':'POST'})}}
            {{form_row(form.libelle)}}
            {{form_row(form.prix)}}
            {{form_row(form.couleur)}}
            {{form_row(form.categorie)}}
        {{ form_end(form)}}

        <a href="{{ path('index_produits') }}">
            <button type="button" class="btn btn-secondary">Retour</button>
        </a>
    </div>

{% endblock %}